h2{
  border-bottom: 2px solid #ffd000;
  border-bottom-style: dashed;
}
p1,p2{
  color: #0077ff;
  border-left: 5px solid #ffd000;
}
p{
  color: #047c2c;
  letter-spacing:3px;
  word-spacing:1cm;
}
h3{
  border: 6px solid #ffd000;
  line-height:2cm;
  border-style: autset;
}
h4{
  text-align: right;
  border-style: groove;
  border: 6px solid #ff00ff;
  background-color: #00eeff;
}
